@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap");

/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f4c8;
  }
  
  /* Grid Layout */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    padding: 80px;
    text-align: center;
    border: 1px solid #ccc;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
  }

  /* navbar */

  .container_navbar {
    background-color: #a19a4c;
    font-size: 1.2rem;
    font-family: "Merriweather Sans", sans-serif;
    height: 70px;
  }

  .judul {
    text-align: center;
    justify-content: right;
    align-items: baseline;

  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
  }

  .navbar ul {
    display: flex;
  }

  .container .navbar {
    justify-content: space-between;
  }

  .navbar ul li {
    list-style-type: none;
  }
  
  .container .navbar ul li {
    padding: 10px;
    margin: 0 10px;
  }
  
  .navbar a {
    color: var(--nav-text);
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: var(--secondary-color);
  }
 
  /* Style The Dropdown Button */
.dropbtn {
  background-color: white;
  color: #4CAF50;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 60px;
  align-items: baseline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
  
  /* Media Queries */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 390px) and (max-width: 767px) {
    .container_navbar {
      height: 100%;
    }
  
    .container .navbar {
      flex-direction: column;
    }
  }